/**
 * Created by liujinhe on 17/1/5.
 */
{
    "presets":
    [
        "es2015",
        "react",
        "stage-0"
    ],
    "plugins":
    [
	    "transform-runtime",
 		"add-module-exports",
 		"transform-decorators-legacy",
 		"transform-react-display-name"
    ]

}
